In [41]:
import pandas as pd

In [67]:
df = pd.read_csv('ecommerce_order_paid_out_24-mar_25 - results-20250313-171121.csv',delimiter=',')
df.head()

   Account_id                   reference_day    total_gmv rdstation_mkt_gmv
0      110438  2024-12-25 00:00:00.000000 UTC    R$ 239,40         R$ 239,40
1      110438  2024-12-23 00:00:00.000000 UTC    R$ 509,56         R$ 484,34
2      110438  2025-02-05 00:00:00.000000 UTC  R$ 2.237,11       R$ 1.423,82
3      110438  2025-01-15 00:00:00.000000 UTC  R$ 2.865,21       R$ 1.664,68
4      110438  2024-11-28 00:00:00.000000 UTC    R$ 561,78         R$ 321,06

In [68]:
# Function to clean currency values
def convert_currency(value):
    if isinstance(value, str):
        return float(value.replace("R$", "").replace(".", "").replace(",", "."))
    return None  # Handle missing values

In [69]:
# Apply conversion functions
df["total_gmv"] = df["total_gmv"].apply(convert_currency)
df["rdstation_mkt_gmv"] = df["rdstation_mkt_gmv"].apply(convert_currency)

# Display DataFrame
df.head()

   Account_id                   reference_day  total_gmv  rdstation_mkt_gmv
0      110438  2024-12-25 00:00:00.000000 UTC     239.40             239.40
1      110438  2024-12-23 00:00:00.000000 UTC     509.56             484.34
2      110438  2025-02-05 00:00:00.000000 UTC    2237.11            1423.82
3      110438  2025-01-15 00:00:00.000000 UTC    2865.21            1664.68
4      110438  2024-11-28 00:00:00.000000 UTC     561.78             321.06

In [70]:
# Converter a coluna de data para o formato datetime
df["reference_day"] = pd.to_datetime(df["reference_day"])

# Criar uma coluna de ano-mês para o agrupamento
df["year_month"] = df["reference_day"].dt.to_period("M")

C:\Users\rodri\AppData\Local\Temp\ipykernel_14872\4047544254.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df["year_month"] = df["reference_day"].dt.to_period("M")

In [71]:
# Agrupar por tenant_id e mês, somando os valores de GMV
df_grouped = df.groupby(["Account_id"])[["total_gmv", "rdstation_mkt_gmv"]].sum().reset_index()

# Exibir as primeiras linhas do resultado
df_grouped.head()

   Account_id   total_gmv  rdstation_mkt_gmv
0        6583   146161.11           12342.35
1        8905   255960.24           31249.78
2       15614  1524823.54           53844.06
3       15634    31350.32             401.92
4       18740     3077.04               0.00

In [72]:
df_grouped = df_grouped.astype(str).applymap(lambda x: x.replace(".", ","))

C:\Users\rodri\AppData\Local\Temp\ipykernel_14872\867529793.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_grouped = df_grouped.astype(str).applymap(lambda x: x.replace(".", ","))

In [73]:
df_grouped.head(5)

  Account_id   total_gmv   rdstation_mkt_gmv
0       6583   146161,11            12342,35
1       8905   255960,24            31249,78
2      15614  1524823,54  53844,060000000005
3      15634    31350,32              401,92
4      18740     3077,04                 0,0

In [ ]:
    df_grouped.to_csv("ecommerce_grouped_by_month_new.csv")